In [ ]:
1) Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

cursor.execute("Select RTRIM(FIRST_NAME) from Worker")


2) Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.
cursor.execute("Select distinct length(DEPARTMENT) from Worker")

3) Write an SQL query to fetch nth max salaries from a table.

 for 2nd max salary
cursor.execute("select * from (select salary from Employee ORDER BY sal DESC limit 2 ) as T
       ORDER BY salary ASC limit 1")